<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск продукта</title>
    <link rel="stylesheet" href="../../static/product_form.css">
</head>

<body>
    <div class="container">
        <h2> Получение информации о продуктах</h2>
<!--        <div class="SendFormContainer">-->
        <form class="SendForm" action="" method ="POST">
<!--            <label class="ProductNameLabel"  for="product">Название продукта</label>-->
            <div class="ProductNameLabel">
                <div class="Name">Название продукта</div>
            </div>
            <input class="ProductNameInput" name = product_name id="product" type = text placeholder="Вкуснейшие пельмени">
            <input class="ProductNameSend" type = submit value ="Отправить">
        </form>
<!--        </div>-->
    </div>


</body>
</html>