{% extends 'base.html' %}

{% block product_form %}
<link rel="stylesheet" href="static/product_form.css">
<h2> Получение информации о продуктах</h2>
<form class="SendForm" action="" method ="POST">
    <label class="ProductNameLabel"  for="product">
        <div class="Name">Название продукта</div>
    </label>

    <input class="ProductNameInput" name = product_name id="product" type = text placeholder="Вкуснейшие пельмени">
    <input class="ProductNameSend" type = submit value ="Отправить">
</form>
{% endblock %}
