{% extends 'base.html' %}


{% block orderlist %}

<meta charset="UTF-8">
<title>Supermarket</title>
<link href="{{ url_for('bp_orderlist.static', filename='orderlist.css') }}" rel="stylesheet" type="text/css">




    <div class="orders-title">Список всех заказов</div>


    <div class="result-orders-container">
    {% if orders %}
        {% for order in orders %}
        <div class="order-container">
            <div class="order-upperline">
                <div class="order-id">ID: {{ order }}</div>
            </div>
            <div class="order-lowerline">
                {% for item in orders[order] %}

                    <div class="item-container">
                        <img class="item-img" src="{{ item["prod_img"] }}" alt="">
                        <div class="item-description">
                            <div class="item-price">{{ item["prod_price"] }}</div>
                            <div class="x"></div>
                            <div class="item-amount">{{ item["prod_amount"] }}</div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>




{% endblock %}


