{% extends 'catalog.html' %}


{% block basket %}
<meta charset="UTF-8">
<title>Basket</title>
<link href="{{ url_for('bp_catalog.static', filename='catalog.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('bp_basket.static', filename='basket.css') }}" rel="stylesheet" type="text/css">


<div class="dashboard-container">
    <div class="basket-sum">
        <span class="sum-word">Итого:</span>
        <span class="sum">
            {{ basket_sum }}<span class="ruble-icon">₽</span>
        </span>
    </div>
    <button class="make-order-button">Оформить заказ</button>
    <button class="clear-basket-button">Очистить корзину</button>
</div>




{% endblock %}