{% extends 'base.html' %}


{% block catalog %}
<meta charset="UTF-8">
<title>Supermarket</title>
<link href="{{ url_for('bp_catalog.static', filename='catalog.css') }}" rel="stylesheet" type="text/css">



<div class="content-title-container">
    <span class="content-title">
        {{ query if query else "Каталог"}}
    </span>
    <span class="content-amount">
        {{items|length}}
    </span>
</div>

{% if items %}
<div class="result-container">
    {% for item in items %}
    <div class="result-item">
        <img src="{{ item['prod_img'] }}" alt="" class="result-img">
        <div class="info">
            <div class="prod-name">{{ item['prod_name'] }}</div>
            <div class="prod-description">{{ item['prod_measure'] }}{% if item['prod_description'] %}.  {{ item['prod_description'] }}{% endif %}</div>
        </div>
        <div class="price-and-basket">
            <div class="price">
                {{ item['prod_price'] }}<span class="ruble-icon">₽</span>
            </div>

            <form class="pick-container" method="post">

                <input type="submit" value="-" class="minus" name="minus">

                <input type="number" min="0" max="99" class="amount" name="amount" value="{{ item['amount'] }}">
                <input class="prod_identifier" type="hidden" name="prod_id" value="{{ item['prod_id'] }}">

                <input type="hidden" name="product_name" id="product" value="{{ query }}">

                <input type="submit" value="+" class="plus" name="plus">

            </form>

        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% block basket %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src={{ url_for("bp_catalog.static", filename="index.js") }}></script>
{% endblock %}


