{% extends 'base.html' %}


{% block catalog %}
<meta charset="UTF-8">
<title>Поиск</title>
<link href="{{ url_for('bp_catalog.static', filename='style.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('bp_catalog.static', filename='catalog.css') }}" rel="stylesheet" type="text/css">


{% if items %}
<div class="result-container">
    {% for item in items %}
    <div class="result-item">
<!--        <div class="result-img" style="background-image: url({{ item['prod_img'] }});"></div>-->
        <img src="{{ item['prod_img'] }}" alt="" class="result-img">
        <div class="info">
            <div class="prod-name">{{ item['prod_name'] }}</div>
            <div class="prod-description">{{ item['prod_measure'] }}</div>
        </div>
        <div class="price-and-basket">
            <div class="price">{{ item['prod_price'] }}</div>
            <form class="pick-container" method="post">

                <input type="submit" value="-" class="minus" name="minus">

                <input type="number" min="0" max="99" class="amount" name="amount" value="{{ item['amount'] }}">
                <input class="prod_identifier" type="hidden" name="prod_id" value="{{ item['prod_id'] }}">

                <input type="hidden" name="product_name" id="product" value="{{ query }}">

                <input type="submit" value="+" class="plus" name="plus">

            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
