{% extends 'base.html' %}


{% block catalog %}
<meta charset="UTF-8">
<title>Поиск</title>
<link href="{{ url_for('bp_catalog.static', filename='style.css') }}" rel="stylesheet" type="text/css">

{% if items %}
<div class="result-container">
    {% for item in items %}
    <div class="rusult-item">
        <img src="{{ item['prod-img'] }}" alt="" class="result-img">
        <div class="info">{{ item['prod_name'] }}</div>
        <div class="price-and-basket">
            <div class="price">{{ item['prod_price'] }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
