.result-container {
    /*outline: 1px solid red;*/
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    border-radius: inherit;
}


.result-item {
    display: grid;
    grid-template-rows: 10fr 3fr 2fr;
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*outline: 1px solid blue;*/
    /*width: 200px;*/
    background: white;
    height: 270px;
    padding: 10px;
    border-radius: inherit;
    box-shadow: 0 1px .625rem 0 hsla(210, 7%, 0%, .16), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);

}

.result-img {
    object-fit: cover;
    height: 170px;
    justify-self: center;
    max-width: 100%;
    border-radius: inherit;
    /*width: 200px;*/
    /*height: 200px;*/
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    /*background-clip: ;*/
}

.prod-description {
    color: #8c8c8c;
    font-size: 13px;
}


.price-and-basket {
    /*outline: 3px solid green;*/
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    /*margin-bottom: 10px;*/
}

.price {
    font-size: 1.25rem;
}

.pick-container {
    height: 100%;
    /*outline: 3px solid red;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.pick-container > * {
    width: 100%;
    /*outline: 3px solid blue;*/
    margin: 0;
    padding: 0;
    height: 100%;
}

.prod_identifier {
    display: none;
}

.pick-container > input {
    margin: 0;
    padding: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    border: none;
    text-align: center;
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
    /*display: flex;*/
    /*justify-content: center;*/
    transition: background 0.3s ease, transform 0.2s ease;
}

.pick-container > input[type=submit]:hover {
    transform: scale(102%);
    background: #656464;
}

.pick-container > * {
    width: 30px;
    height: 30px;
}

.ruble-icon {
    font-size: 1rem;
    margin-left: 3px;
}

.plus, .minus {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    color: white;
    margin: auto;
    width: 30px;
    height: 30px;
    background: rgba(30, 27, 27, 0.32);
    border-radius: 10px;
    padding: 0;
    font-size: 40px;
}
