html, body {
    font-family: "Montserrat", sans-serif;
    /*height: 100vh;*/
    /*width: 100vw;*/
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background: linear-gradient(to right, blue, pink);
}

.container {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-gap: 10px;
    max-width: 100%;
    /*grid-row-gap: 30px;*/
}

.container > .item {
    padding: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    transition: .2s;
    box-shadow: rgba(110, 109, 109, 0.83) 0 0 5px;
}

.item:hover {
    background: rgba(255, 255, 255, 0.8);
}

.item.logo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item.module-title {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item.user-info {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item.module-button {
    margin-top: 50px;
}

.item.content-module {
    /*display: none;*/
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 3;
}

.item.credentials {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
    align-self: end;
}


