@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Montserrat:ital,wght@0,600;1,900&family=Open+Sans:wght@800&family=Oswald:wght@300&family=Roboto+Mono:wght@700&display=swap');

html, body {
    font-family: "Montserrat", sans-serif;
    /*height: 100vh;*/
    /*width: 100vw;*/
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    /*background: linear-gradient(to right, blue, pink);*/
    background-image: url('surprize.jpg');
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*outline: 1px solid red;*/
}

.header {
    margin-top: 20px;
    width: 100%;
}

.upper-line {
    height: 50px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*outline: 1px solid red;*/
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 3fr 1fr 2fr;
    align-items: center;
}

.logo-container {
    height: 85%;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-weight: bold;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 10px;
    /*background: rgba(0, 255, 196, 0.5);*/
    /*border-radius: 15px;*/
    /*padding: 10px 5px 5px 10px;*/
    border-radius: 15px;
    /*background: rgb(255, 180, 244);*/
    /*box-shadow: 0 1px .625rem 0 hsla(210, 7%, 0%, .26), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);*/
}

.logo-icon {
    height: 40px;
    margin-right: 5px;
    /*background: red;*/
    color: #0026dc;
    margin-bottom: 0;
}

.logo-name {
    margin-top: -5px;
    font-size: 30px;
    font-family: "Oswald", "sans-serif";
}


.search-container {
    /*outline: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search {
    /*outline: 1px solid green;*/
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 1px .625rem 0 hsla(210, 7%, 0%, .26), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);
}

.search > .icon {
    margin-left: 5px;
}

.search > input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
    height: 85%;
    margin-right: 15px;
}

.search-submit-button {
    display: none;
}

input:focus {
    outline: none;
}


.basket-container {
    /*outline: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    border-radius: 15px;
    margin-right: auto;
    /*background: rgba(20, 113, 255, 0.8);*/
    /*box-shadow: 0 1px .625rem 0 hsla(210, 7%, 0%, .26), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);*/

}

.basket-icon {
    margin-right: 10px;
    width: 30px;
}

.basket-amount {
    color: white;
    background: blue;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
}

.orders-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    border-radius: 15px;
}

.order-icon {
    margin-left: 10px;
    width: 30px;
}





.login-container {
    display: flex;
    height: 85%;
    /*outline: 1px solid blue;*/
}

.login {
    /*outline: 1px solid red;*/
    margin-left: auto;
    /*height: 100%;*/
    /*margin: auto;*/
    display: flex;
    /*position: relative;*/
    align-items: center;
    /*outline: 1px solid red;*/
    padding-left: 15px;
    border-radius: 15px;
    /*box-shadow: 0 1px .625rem 0 hsla(210, 7%, 0%, .26), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);*/
}

.icon {
    margin-right: 10px;
    width: 50px;
}

.login > .icon {
    width: 25px;
}

.logout > svg {
    /*outline: 1px solid green;*/
    color: black;
    height: 25px;
    margin-right: 0;
    margin-left: 15px;
    margin-top: 5px;
    /*margin-bottom: 0;*/
}

.modules {
    margin-top: 30px;
    max-width: 100%;
    /*outline: 1px solid red;*/
}

.module {
    font-size: 17px;
    margin-right: 15px;
    text-decoration: none;
    color: #676c6f;
    transition: .2s;
    transition-timing-function: ease;
    border-radius: 10px;
    padding: 5px;
}

.module:visited {
    color: #676c6f;
}

.module:hover {
    background: rgba(0, 0, 255, 0.37);
    color: black;
}

.content {
    /*display: none;*/
    /*width: 100%;*/
    /*min-height: 400px;*/
    margin-top: 30px;
    box-shadow: 0 1px .625rem 0 hsla(210, 7%, 0%, .26), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);
    border-radius: 15px;
    padding: 20px;
    /*overflow: hidden;*/
}



