body {
    background: url("https://img.gazeta.ru/files3/641/14417641/Depositphotos_10708457_L-pic_32ratio_900x600-900x600-53898.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 50px;
    color: cyan;
}


/*.\.startRequests .\.stopRequests {*/
/*    font-size: 300px;*/
/*}*/