@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,900&family=Open+Sans:wght@800&family=Roboto+Mono:wght@700&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    /*max-width: 90%;*/
    /*margin: 50px;*/
    padding: 0;
    /*display: flex;*/
}


form.SendForm {
    height: 60px;
    /*height: 100px;*/
    /*margin: 0;*/
    outline: 1px solid green;
    display: flex;
    justify-content: left;
    /*align-content: center;*/
}

.SendForm > * {
    /*text-align: center;*/
    min-width: 150px;
    /*height: 100%;*/
    outline: 1px solid red;
    /*padding: 10px;*/
    font-size: 20px;
    margin: 0;
    padding: 8px;
}

input {
    padding: 0;
    margin: 0;
}
/*h2 { font-size  : 14pt;*/
/*   color      : black*/
/*}*/
/*label { font-size  : 14pt;*/
/*      color      : #c71d8e*/
/*}*/