@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,900&family=Open+Sans:wght@800&family=Roboto+Mono:wght@700&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    /*max-width: 90%;*/
    /*margin: 50px;*/
    padding: 0;
    /*display: flex;*/
}


form.SendForm {
    height: 50px;
    /*height: 100px;*/
    /*margin: 0;*/
    /*outline: 1px solid green;*/
    display: flex;
    justify-content: left;
    /*align-content: center;*/
}

.SendForm > * {
    /*text-align: center;*/
    min-width: 150px;
    /*height: 100%;*/
    /*outline: 1px solid #c71d8e;*/
    /*padding: 10px;*/
    font-size: 20px;
    /*margin: 0;*/
    margin-right: 5px;
    padding: 10px;
}

.ProductNameLabel {
    display: flex;
    align-items: center;
    border: 3px outset red;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

.ProductNameInput, .ProductNameInput:focus {
    border-right: none;
    border-left: none;
    border-top: 3px outset red;
    border-bottom: 3px outset red;
}

.ProductNameSend {
    border-right: 3px outset red;
    border-left: none;
    border-top: 3px outset red;
    border-bottom: 3px outset red;
    border-radius: 0 10px 10px 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.ProductNameSend:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

input {
    padding: 0;
    margin: 0;
}
/*h2 { font-size  : 14pt;*/
/*   color      : black*/
/*}*/
/*label { font-size  : 14pt;*/
/*      color      : #c71d8e*/
/*}*/