<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supermarket</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="upper-line">
                <a class="logo-container" href="{{url_for('menu_choice')}}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="logo-icon icon-tabler icon-tabler-brand-windows" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M17.8 20l-12 -1.5c-1 -.1 -1.8 -.9 -1.8 -1.9v-9.2c0 -1 .8 -1.8 1.8 -1.9l12 -1.5c1.2 -.1 2.2 .8 2.2 1.9v12.1c0 1.2 -1.1 2.1 -2.2 1.9z"></path>
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="4" y1="12" x2="20" y2="12"></line>
                    </svg>
                    <span class="logo-name">
                        Supermarket
                    </span>
                </a>

                <a class="orders-container" href="{{ url_for("bp_orderlist.orderlist") }}">
                    Заказы
                    <svg xmlns="http://www.w3.org/2000/svg" class="order-icon icon-tabler icon-tabler-package" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"></polyline>
                       <line x1="12" y1="12" x2="20" y2="7.5"></line>
                       <line x1="12" y1="12" x2="12" y2="21"></line>
                       <line x1="12" y1="12" x2="4" y2="7.5"></line>
                       <line x1="16" y1="5.25" x2="8" y2="9.75"></line>
                    </svg>
                </a>

                <div class="search-container">
                    <form class="search" method="POST" action="">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <circle cx="10" cy="10" r="7"></circle>
                           <line x1="21" y1="21" x2="15" y2="15"></line>
                        </svg>
                        <input type="text" name="product_name" id="product" value="{{ query }}">
                        <input type="hidden" name="search" value="search" class="search-submit-button">
                    </form>
                </div>


                <a class="basket-container" href="{{ url_for("bp_basket.order_index") }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="basket-icon icon-tabler icon-tabler-basket" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <polyline points="7 10 12 4 17 10"></polyline>
                       <path d="M21 10l-2 8a2 2.5 0 0 1 -2 2h-10a2 2.5 0 0 1 -2 -2l-2 -8z"></path>
                       <circle cx="12" cy="15" r="2"></circle>
                    </svg>
                    Корзина
                    <span class="basket-amount">{{ amount_in_basket }}</span>
                </a>

                <div class="login-container">
                    <div class="login">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-check" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <circle cx="9" cy="7" r="4"></circle>
                           <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                           <path d="M16 11l2 2l4 -4"></path>
                        </svg>
                        <span class="user-group">[{{session.get('user_group', None)}}]</span>
                        <span class="user-name">{{session.get('user_name', None)}}</span>
                        <a href="{{ url_for('bp_auth.start_auth') }}" class="logout">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                               <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                               <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            {% block product_form %}{% endblock %}
            {% block report %}{% endblock %}
            {% block catalog %}{% endblock %}
            {% block orderlist %}{% endblock %}
        </div>
    </div>
    <img src="{{ url_for('static', filename='shrek.png') }}" alt="shrek" class="shrek">
</body>
</html>