<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base_menu</title>
    <link href="static/base.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="item logo">СУПЕРМАРКЕТ</div>
        <div class="item module-title">Название модуля</div>
        <div class="item user-info">Информация о пользователе</div>
        <div class="item module-button">Модуль 1</div>
        <div class="item module-button">Модуль 2</div>
        <div class="item module-button">Модуль 3</div>
        <div class="item content-module">Контент модуля</div>
        <div class="item credentials">Stas credentials</div>
    </div>



<!--    <div class="container">-->
        <div class="block title-block">
            Доступные действия
        </div>
        {% block internal_user %}{% endblock %}
        {% block external_user %}{% endblock %}
<!--    </div>-->
</body>
</html>